# 训练输出数据，不上传
#scripts/results/
*.csv
*.pth
*.pt
*.log
#scripts/*/models/
#scripts/*/logs/

# Python 缓存文件
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE配置文件
.idea/
.vscode/
*.swp
*.swo

# 系统隐藏文件
.DS_Store
Thumbs.db

**/events.out.tfevents*
*.codex_tmp
